<h1>Смена почты в {{ app_name }}.</h1>
<p>Ваш код подтверждения для смены почты: <strong>{{ code }}</strong></p>
<p>Код действителен {{ ttl_minutes }} минут.</p>
<p><strong>Если вы не запрашивали данный код, то настоятельно рекомендуем
проверить активные сессии вашего аккаунта. Зайдите в настройки мессенджера, затем
перейдите во вкладку с активными сеансами. Если в списке сеансов есть устройство, с которого
вы не входили в аккаунт, то завершите этот сеанс, а также смените пароль от вашей почты и аккаунта в мессенджере.</strong></p>
<p>С уважением,<br>команда {{ app_name }}.</p>