<h1>Оповещение о смене пароля.</h1>
<p>Только что на вашем аккаунте был сменён пароль.</p>
<p>Если это были не вы, значит, кто-то получил доступ к вашему почтовому ящику 
и смог прочитать код подтверждения. Вам необходимо:</p>
<ol>
    <li><strong>Проверьте активные сессии на аккаунте. Зайдите в настройки
    мессенджера, затем во вкладку активных сеансов. Если в списке сеансов есть устройство, с которого вы не входили в аккаунт,
    то завершите её.</strong></li>
    <li><strong>Срочно смените пароль от вашей почты.</strong></li>
    <li><strong>Восстановите пароль от аккаунта</strong> через кнопку «Забыли пароль» на странице входа.</li>
    <li><strong>Если злоумышленник завершил Вашу сессию, то вам необходимо
    сразу же изменить пароль от почты, а затем воспользоваться кнопкой «Забыли пароль» на странице входа.</strong></li>
</ol>
<p>IP-адрес, с которого был сменён пароль: <strong>{{ ip_address }}</strong></p>
<p>С уважением,<br>команда {{ app_name }}.</p>